Importando biblioteca

In [3]:
import pandas as pd

Carregando dataset na variável data

In [4]:
data = pd.read_csv("datasets\kc_house_data.csv")
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Criando a coluna com níveis

In [5]:
data['nivel'] = NA
data.loc[data[(data['price'] >= 0) & (data['price'] < 321950)], 'nivel'] = 'nivel_0'
data.loc[data[(data['price'] >= 321950) & (data['price'] < 450000)],'nivel'] = 'nivel_1'
data.loc[data[(data['price'] >= 450000) & (data['price'] < 645000)], 'nivel'] = 'nivel_2'
data.loc[data[(data['price'] >= 645000)], 'nivel'] = 'nivel_3'

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21550,880000205,20140729T000000,249000.0,3,2.00,1260,1125,2.0,0,0,...,7,810,450,2011,0,98106,47.5262,-122.361,1260,1172
21559,3438501329,20140520T000000,305000.0,2,2.50,1590,2656,2.0,0,0,...,7,1220,370,2009,0,98106,47.5489,-122.364,1590,2306
21572,6056111067,20140707T000000,230000.0,3,1.75,1140,1201,2.0,0,0,...,8,1140,0,2014,0,98108,47.5637,-122.295,1210,1552
21585,3832050760,20140828T000000,270000.0,3,2.50,1870,5000,2.0,0,0,...,7,1870,0,2009,0,98042,47.3339,-122.055,2170,5399
21602,844000965,20140626T000000,224000.0,3,1.75,1500,11968,1.0,0,0,...,6,1500,0,2014,0,98010,47.3095,-122.002,1320,11303

Utilizando loop for

In [ ]:
if (data['price'] > 0) & (data['price'] < 321950):
    data['nivel'] = 'nivel_0'