#### Exerc√≠cios da aula 2

1)

In [1]:
import pandas as pd

In [2]:
data_ex = pd.read_csv('datasets\kc_house_data.csv')
data_ex['date'] = pd.to_datetime(data_ex['date'])

data_ex['house_age'] = 'house'

data_ex.loc[data_ex['date'] > '2015-01-01', 'house_age'] = 'new_house'
data_ex.loc[data_ex['date'] < '2015-01-01', 'house_age'] = 'old_house'

data_ex.head(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,old_house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,old_house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,new_house
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,old_house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,new_house
5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,old_house
6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,old_house
7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,new_house
8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,new_house
9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,new_house
10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,0,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,new_house
11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0,0,...,860,300,1942,0,98115,47.6900,-122.292,1330,6000,old_house
12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0,0,...,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,old_house
13,6054650070,2014-10-07,400000.0,3,1.75,1370,9680,1.0,0,0,...,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,old_house
14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,0,...,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,new_house
15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,new_house
16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0,0,...,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,old_house
17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0,0,...,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,old_house
18,16000397,2014-12-05,189000.0,2,1.00,1200,9850,1.0,0,0,...,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,old_house
19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0,0,...,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,new_house
20,6300500875,2014-05-14,385000.0,4,1.75,1620,4980,1.0,0,0,...,860,760,1947,0,98133,47.7025,-122.341,1400,4980,old_house
21,2524049179,2014-08-26,2000000.0,3,2.75,3050,44867,1.0,0,4,...,2330,720,1968,0,98040,47.5316,-122.233,4110,20336,old_house
22,7137970340,2014-07-03,285000.0,5,2.50,2270,6300,2.0,0,0,...,2270,0,1995,0,98092,47.3266,-122.169,2240,7005,old_house
23,8091400200,2014-05-16,252700.0,2,1.50,1070,9643,1.0,0,0,...,1070,0,1985,0,98030,47.3533,-122.166,1220,8386,old_house
24,3814700200,2014-11-20,329000.0,3,2.25,2450,6500,2.0,0,0,...,2450,0,1985,0,98030,47.3739,-122.172,2200,6865,old_house
25,1202000200,2014-11-03,233000.0,3,2.00,1710,4697,1.5,0,0,...,1710,0,1941,0,98002,47.3048,-122.218,1030,4705,old_house
26,1794500383,2014-06-26,937000.0,3,1.75,2450,2691,2.0,0,0,...,1750,700,1915,0,98119,47.6386,-122.360,1760,3573,old_house
27,3303700376,2014-12-01,667000.0,3,1.00,1400,1581,1.5,0,0,...,1400,0,1909,0,98112,47.6221,-122.314,1860,3861,old_house
28,5101402488,2014-06-24,438000.0,3,1.75,1520,6380,1.0,0,0,...,790,730,1948,0,98115,47.6950,-122.304,1520,6235,old_house
29,1873100390,2015-03-02,719000.0,4,2.50,2570,7173,2.0,0,0,...,2570,0,2005,0,98052,47.7073,-122.110,2630,6026,new_house
30,8562750320,2014-11-10,580500.0,3,2.50,2320,3980,2.0,0,0,...,2320,0,2003,0,98027,47.5391,-122.070,2580,3980,old_house
31,2426039314,2014-12-01,280000.0,2,1.50,1190,1265,3.0,0,0,...,1190,0,2005,0,98133,47.7274,-122.357,1390,1756,old_house
32,461000390,2014-06-24,687500.0,4,1.75,2330,5000,1.5,0,0,...,1510,820,1929,0,98117,47.6823,-122.368,1460,5000,old_house
33,7589200193,2014-11-10,535000.0,3,1.00,1090,3000,1.5,0,0,...,1090,0,1929,0,98117,47.6889,-122.375,1570,5080,old_house
34,7955080270,2014-12-03,322500.0,4,2.75,2060,6659,1.0,0,0,...,1280,780,1981,0,98058,47.4276,-122.157,2020,8720,old_house
35,9547205180,2014-06-13,696000.0,3,2.50,2300,3060,1.5,0,0,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,old_house
36,9435300030,2014-05-28,550000.0,4,1.00,1660,34848,1.0,0,0,...,930,730,1933,0,98052,47.6621,-122.132,2160,11467,old_house
37,2768000400,2014-12-30,640000.0,4,2.00,2360,6000,2.0,0,0,...,2360,0,1904,0,98107,47.6702,-122.362,1730,4700,old_house
38,7895500070,2015-02-13,240000.0,4,1.00,1220,8075,1.0,0,0,...,890,330,1969,0,98001,47.3341,-122.282,1290,7800,new_house
39,2078500320,2014-06-20,605000.0,4,2.50,2620,7553,2.0,0,0,...,2620,0,1996,0,98056,47.5301,-122.180,2620,11884,old_house
40,5547700270,2014-07-15,625000.0,4,2.50,2570,5520,2.0,0,0,...,2570,0,2000,0,98074,47.6145,-122.027,2470,5669,old_house
41,7766200013,2014-08-11,775000.0,4,2.25,4220,24186,1.0,0,0,...,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617,old_house
42,7203220400,2014-07-07,861990.0,5,2.75,3595,5639,2.0,0,0,...,3595,0,2014,0,98053,47.6848,-122.016,3625,5639,old_house
43,9270200160,2014-10-28,685000.0,3,1.00,1570,2280,2.0,0,0,...,1570,0,1922,0,98119,47.6413,-122.364,1580,2640,old_house
44,1432701230,2014-07-29,309000.0,3,1.00,1280,9656,1.0,0,0,...,920,360,1959,0,98058,47.4485,-122.175,1340,8808,old_house
45,8035350320,2014-07-18,488000.0,3,2.50,3160,13603,2.0,0,0,...,3160,0,2003,0,98019,47.7443,-121.977,3050,9232,old_house
46,8945200830,2015-03-25,210490.0,3,1.00,990,8528,1.0,0,0,...,990,0,1966,0,98023,47.3066,-122.371,1228,8840,new_house
47,4178300310,2014-07-16,785000.0,4,2.50,2290,13416,2.0,0,0,...,2290,0,1981,0,98007,47.6194,-122.151,2680,13685,old_house
48,9215400105,2015-04-28,450000.0,3,1.75,1250,5963,1.0,0,0,...,1250,0,1953,0,98115,47.6796,-122.301,970,5100,new_house
49,822039084,2015-03-11,1350000.0,3,2.50,2753,65005,1.0,1,2,...,2165,588,1953,0,98070,47.4041,-122.451,2680,72513,new_house

2.

In [3]:
data_ex['dormitory_type'] = 'house'

data_ex.loc[data_ex['bedrooms'] == 1, 'dormitory_type'] = 'studio'
data_ex.loc[data_ex['bedrooms'] == 2, 'dormitory_type'] = 'apartament'

data_ex.head(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age,dormitory_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,old_house,house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,old_house,house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,new_house,apartament
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,old_house,house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,new_house,house
5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,...,1530,2001,0,98053,47.6561,-122.005,4760,101930,old_house,house
6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,...,0,1995,0,98003,47.3097,-122.327,2238,6819,old_house,house
7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,...,0,1963,0,98198,47.4095,-122.315,1650,9711,new_house,house
8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,...,730,1960,0,98146,47.5123,-122.337,1780,8113,new_house,house
9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,...,0,2003,0,98038,47.3684,-122.031,2390,7570,new_house,house
10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,0,...,1700,1965,0,98007,47.6007,-122.145,2210,8925,new_house,house
11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0,0,...,300,1942,0,98115,47.6900,-122.292,1330,6000,old_house,apartament
12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0,0,...,0,1927,0,98028,47.7558,-122.229,1780,12697,old_house,house
13,6054650070,2014-10-07,400000.0,3,1.75,1370,9680,1.0,0,0,...,0,1977,0,98074,47.6127,-122.045,1370,10208,old_house,house
14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,0,...,0,1900,0,98107,47.6700,-122.394,1360,4850,new_house,house
15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,3,...,970,1979,0,98126,47.5714,-122.375,2140,4000,new_house,house
16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0,0,...,0,1994,0,98019,47.7277,-121.962,1890,14018,old_house,house
17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0,0,...,0,1916,0,98103,47.6648,-122.343,1610,4300,old_house,house
18,16000397,2014-12-05,189000.0,2,1.00,1200,9850,1.0,0,0,...,0,1921,0,98002,47.3089,-122.210,1060,5095,old_house,apartament
19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0,0,...,0,1969,0,98003,47.3343,-122.306,1280,8850,new_house,house
20,6300500875,2014-05-14,385000.0,4,1.75,1620,4980,1.0,0,0,...,760,1947,0,98133,47.7025,-122.341,1400,4980,old_house,house
21,2524049179,2014-08-26,2000000.0,3,2.75,3050,44867,1.0,0,4,...,720,1968,0,98040,47.5316,-122.233,4110,20336,old_house,house
22,7137970340,2014-07-03,285000.0,5,2.50,2270,6300,2.0,0,0,...,0,1995,0,98092,47.3266,-122.169,2240,7005,old_house,house
23,8091400200,2014-05-16,252700.0,2,1.50,1070,9643,1.0,0,0,...,0,1985,0,98030,47.3533,-122.166,1220,8386,old_house,apartament
24,3814700200,2014-11-20,329000.0,3,2.25,2450,6500,2.0,0,0,...,0,1985,0,98030,47.3739,-122.172,2200,6865,old_house,house
25,1202000200,2014-11-03,233000.0,3,2.00,1710,4697,1.5,0,0,...,0,1941,0,98002,47.3048,-122.218,1030,4705,old_house,house
26,1794500383,2014-06-26,937000.0,3,1.75,2450,2691,2.0,0,0,...,700,1915,0,98119,47.6386,-122.360,1760,3573,old_house,house
27,3303700376,2014-12-01,667000.0,3,1.00,1400,1581,1.5,0,0,...,0,1909,0,98112,47.6221,-122.314,1860,3861,old_house,house
28,5101402488,2014-06-24,438000.0,3,1.75,1520,6380,1.0,0,0,...,730,1948,0,98115,47.6950,-122.304,1520,6235,old_house,house
29,1873100390,2015-03-02,719000.0,4,2.50,2570,7173,2.0,0,0,...,0,2005,0,98052,47.7073,-122.110,2630,6026,new_house,house
30,8562750320,2014-11-10,580500.0,3,2.50,2320,3980,2.0,0,0,...,0,2003,0,98027,47.5391,-122.070,2580,3980,old_house,house
31,2426039314,2014-12-01,280000.0,2,1.50,1190,1265,3.0,0,0,...,0,2005,0,98133,47.7274,-122.357,1390,1756,old_house,apartament
32,461000390,2014-06-24,687500.0,4,1.75,2330,5000,1.5,0,0,...,820,1929,0,98117,47.6823,-122.368,1460,5000,old_house,house
33,7589200193,2014-11-10,535000.0,3,1.00,1090,3000,1.5,0,0,...,0,1929,0,98117,47.6889,-122.375,1570,5080,old_house,house
34,7955080270,2014-12-03,322500.0,4,2.75,2060,6659,1.0,0,0,...,780,1981,0,98058,47.4276,-122.157,2020,8720,old_house,house
35,9547205180,2014-06-13,696000.0,3,2.50,2300,3060,1.5,0,0,...,790,1930,2002,98115,47.6827,-122.310,1590,3264,old_house,house
36,9435300030,2014-05-28,550000.0,4,1.00,1660,34848,1.0,0,0,...,730,1933,0,98052,47.6621,-122.132,2160,11467,old_house,house
37,2768000400,2014-12-30,640000.0,4,2.00,2360,6000,2.0,0,0,...,0,1904,0,98107,47.6702,-122.362,1730,4700,old_house,house
38,7895500070,2015-02-13,240000.0,4,1.00,1220,8075,1.0,0,0,...,330,1969,0,98001,47.3341,-122.282,1290,7800,new_house,house
39,2078500320,2014-06-20,605000.0,4,2.50,2620,7553,2.0,0,0,...,0,1996,0,98056,47.5301,-122.180,2620,11884,old_house,house
40,5547700270,2014-07-15,625000.0,4,2.50,2570,5520,2.0,0,0,...,0,2000,0,98074,47.6145,-122.027,2470,5669,old_house,house
41,7766200013,2014-08-11,775000.0,4,2.25,4220,24186,1.0,0,0,...,1620,1984,0,98166,47.4450,-122.347,2410,30617,old_house,house
42,7203220400,2014-07-07,861990.0,5,2.75,3595,5639,2.0,0,0,...,0,2014,0,98053,47.6848,-122.016,3625,5639,old_house,house
43,9270200160,2014-10-28,685000.0,3,1.00,1570,2280,2.0,0,0,...,0,1922,0,98119,47.6413,-122.364,1580,2640,old_house,house
44,1432701230,2014-07-29,309000.0,3,1.00,1280,9656,1.0,0,0,...,360,1959,0,98058,47.4485,-122.175,1340,8808,old_house,house
45,8035350320,2014-07-18,488000.0,3,2.50,3160,13603,2.0,0,0,...,0,2003,0,98019,47.7443,-121.977,3050,9232,old_house,house
46,8945200830,2015-03-25,210490.0,3,1.00,990,8528,1.0,0,0,...,0,1966,0,98023,47.3066,-122.371,1228,8840,new_house,house
47,4178300310,2014-07-16,785000.0,4,2.50,2290,13416,2.0,0,0,...,0,1981,0,98007,47.6194,-122.151,2680,13685,old_house,house
48,9215400105,2015-04-28,450000.0,3,1.75,1250,5963,1.0,0,0,...,0,1953,0,98115,47.6796,-122.301,970,5100,new_house,house
49,822039084,2015-03-11,1350000.0,3,2.50,2753,65005,1.0,1,2,...,588,1953,0,98070,47.4041,-122.451,2680,72513,new_house,house

3.

In [4]:
data_ex['condition_type'] = 'bad'

data_ex.loc[data_ex['condition'] == 3, 'condition_type'] = 'regular'
data_ex.loc[data_ex['condition'] == 4, 'condition_type'] = 'regular'
data_ex.loc[data_ex['condition'] == 5, 'condition_type'] = 'good'

data_ex[['condition','condition_type']].head(50)

    condition condition_type
0           3        regular
1           3        regular
2           3        regular
3           5           good
4           3        regular
5           3        regular
6           3        regular
7           3        regular
8           3        regular
9           3        regular
10          3        regular
11          4        regular
12          4        regular
13          4        regular
14          3        regular
15          3        regular
16          3        regular
17          4        regular
18          4        regular
19          4        regular
20          4        regular
21          3        regular
22          3        regular
23          3        regular
24          4        regular
25          5           good
26          3        regular
27          5           good
28          3        regular
29          3        regular
30          3        regular
31          3        regular
32          4        regular
33          4        regular
34          3        regular
35          3        regular
36          1            bad
37          4        regular
38          2            bad
39          3        regular
40          3        regular
41          3        regular
42          3        regular
43          3        regular
44          4        regular
45          3        regular
46          3        regular
47          4        regular
48          4        regular
49          5           good

4.

In [5]:
data_ex['condition'] = data_ex['condition'].astype(str)

data_ex.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
sqft_living15              int64
sqft_lot15                 int64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

5.

In [6]:
data_ex.drop(['sqft_living15', 'sqft_lot15'], axis=1, inplace=True)

data_ex.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'condition_type'],
      dtype='object')

6. 7.

In [7]:
data['date'] = pd. v

AttributeError: module 'pandas' has no attribute 'v'

8.

In [8]:
data_ex.sort_values('yr_built', ascending=False)

data_ex.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,old_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,old_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,new_house,apartament,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,old_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,new_house,house,regular

10.

In [18]:
floors = data_ex.loc[data_ex['floors'] == 2, 'floors']

floors.to_csv('datasets/floors_aula2.csv', index=False)

11.

In [ ]:
len(data_ex.loc[(data_ex['condition_type'] == 'good') & (data_ex['house_age'] == 'new_house')])

423

14.

In [9]:
data_ex.loc[data_ex['dormitory_type'] == 'studio'].sort_values('price', ascending=False).head(6)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
8445,724069023,2015-04-14,1247000.0,1,1.25,1810,5070,1.5,1,4,...,1230,580,1967,0,98075,47.5814,-122.081,new_house,studio,regular
9888,1231000310,2014-08-12,713000.0,1,1.00,1180,4000,1.5,0,2,...,840,340,1910,0,98118,47.5561,-122.266,old_house,studio,regular
4410,4083304190,2014-08-04,680000.0,1,2.50,1820,3008,2.0,0,0,...,1090,730,1910,2004,98103,47.6529,-122.339,old_house,studio,regular
8165,1797500530,2015-05-05,655100.0,1,1.00,1220,4160,1.0,0,0,...,1220,0,1922,0,98115,47.6746,-122.315,new_house,studio,regular
19273,9164100035,2015-04-29,655000.0,1,1.00,1660,5422,1.0,0,0,...,830,830,1908,0,98117,47.6821,-122.388,new_house,studio,regular
9563,3023039231,2014-07-14,650000.0,1,1.00,920,91476,1.5,0,0,...,920,0,1996,2002,98070,47.4480,-122.472,old_house,studio,regular

15.

16.

In [15]:
data_ex.loc[data_ex['dormitory_type'] == 'house'].sort_values('bedrooms', ascending=False)

data_ex.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'condition_type'],
      dtype='object')

17.

In [16]:
data_ex.loc[:, ['id', 'date', 'price', 'floors', 'zipcode']]

data_ex.iloc[:, [0, 1, 2, 7, 16]]

data_ex.

               id       date     price  floors  zipcode
0      7129300520 2014-10-13  221900.0     1.0    98178
1      6414100192 2014-12-09  538000.0     2.0    98125
2      5631500400 2015-02-25  180000.0     1.0    98028
3      2487200875 2014-12-09  604000.0     1.0    98136
4      1954400510 2015-02-18  510000.0     1.0    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21  360000.0     3.0    98103
21609  6600060120 2015-02-23  400000.0     2.0    98146
21610  1523300141 2014-06-23  402101.0     2.0    98144
21611   291310100 2015-01-16  400000.0     2.0    98027
21612  1523300157 2014-10-15  325000.0     2.0    98144

[21613 rows x 5 columns]